<!--<app-login></app-login>
<app-dashboard></app-dashboard>-->
<br><div class="avail">

<button class="btn1" (click)="loginPage()" >Click to Login</button>

<button class="btn2" (click)="dashboardPage()" >Click here to Dashboard</button>

</div>
<router-outlet></router-outlet>


<!--<p>
    
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
  </p>-->